* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  height: 100px;
  background-color: purple;
}

h1 {
  color: white;
  text-align: center;
  line-height: 100px;
}

section {
  background-color: whitesmoke;
}

h3 {
  margin-bottom: 0.5em;
}

/* article {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
} */

/* FLEXBOX */
/* section {
  display: flex;
  flex-wrap: wrap;
} */

article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}

/* Add your flexbox CSS below here */

section {
  display: flex;
  flex-direction: row;
}

article {
}
